<app-header></app-header>
<body class="body" (scroll)="onWindowScroll($event);">
<app-swap-language></app-swap-language> <!-- need to run npm run extract-translations to update json files, issue with ng translate need to install extract-translations and update package.json to get working -->
<div class='container p-4'>
<router-outlet></router-outlet>
</div>
<!-- <div class='container p-4'>
<app-footer></app-footer>
</div> -->
</body>
<ngx-spinner
bdOpacity = 0.8
bdColor = "rgba(51,51,51,0.8)"
size = "large"
color = "#5edad5"
type = "ball-atom"
[fullScreen] = "true"
>
<p style="font-size: 20px; color: white">{{'APP.LOADING' | translate}}</p>
</ngx-spinner>
