<div class="container">
  <img class="img" src="../../../assets/movieFinderCircle.png" alt="Movie Finder Logo">

  <div class="descriptionBox">
    <h3 class="heading" [translate]="'APP.HEADING'"></h3>

    <p class="about" [translate]="'LOCATION.ABOUT'" >

    </p>
  </div>

  <a class="getLocation" id='getLocation' (ngModelChange)="SetGlobalData()" [translate]="'LOCATION.FIND'" style="color: white"></a>
  <div *ngIf='lat' >
    <div>
      <a class="getLocation" routerLink='/listMovies/{{lat}};{{long}}' [translate]="'LOCATION.GO'"></a>
    </div>
  </div>

  <select class="select" [(ngModel)]="selectedCity" (ngModelChange)="onChange($event)">
        <option *ngFor="let c of cities" [ngValue]="c"> {{c.name}} </option>
  </select>

  <div id='feedback'></div>



</div>
