
  .card {
    margin: .5rem;
    border: none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#483d7a+0,324f7e+38,399cab+66,59e2d7+100 */
    background: rgb(72,61,122); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgb(72,61,122) 0%, rgb(50,79,126) 38%, rgb(57,156,171) 66%, rgb(89,226,215) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgb(72,61,122) 0%,rgb(50,79,126) 38%,rgb(57,156,171) 66%,rgb(89,226,215) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgb(72,61,122) 0%,rgb(50,79,126) 38%,rgb(57,156,171) 66%,rgb(89,226,215) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#483d7a', endColorstr='#59e2d7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    border-radius: 1rem;
    box-shadow: 0 0.2rem #000;
  }

  .card:active {
    box-shadow: 0 5px #464646;
    transform: translateY(4px);
  }

  .card-img-top {
    border-radius: 1rem 1rem 0 0;
  }

  .card-title {
    color: white;
  }
  .card-text{
    color: white;
  }


@media only screen and (min-width: 700px) {
  .card-img-top{
    width: 220px;
    height: 300px;
  }

  .card {
    width: 220px;
    height: 416px;
  }


}
