
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import "~ngx-smart-modal/ngx-smart-modal";

body {
  background-color: #396690;
}

.nsm-content {
  background-color: #396690 !important;
  border-radius: 0.5rem;
}
.nsm-dialog-btn-close{
  bottom: 1rem;
  top: unset;
  right: unset;
}

.myspinner .black-overlay{ position: fixed !important; }

.sticky {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
}
