<div *ngIf='movie'>
  <button class="myButton" (click)="ngxSmartModalService.getModal('myModal').open()">Play Trailer</button>

  <h1>{{movie.Title}}</h1>
  <div class="infoTop">
    <p>Age Rating: {{movie.Rated}}</p>
    <p>Released: {{movie.Released}}</p>
    <p>Runtime: {{movie.Runtime}}</p>

  <p><i><u><a class="link" href="{{movie.Website}}">Visit {{movie.Title}} Website</a></u></i></p>
  <p><i><u><a class="link" routerLink='/showings' class="link" >Next Showings Near You</a></u></i></p>
  </div>

  <img class="img" *ngIf='movie' src="{{movie.Poster}}" alt="">

  <h4>Plot</h4>
  <p class="plot">{{movie.Plot}}</p>

  <table  class="rwd-table">
    <tr>
      <th>Website</th>
      <th>Score</th>
    </tr>
    <tr *ngFor="let mov of movie.Ratings">
      <td data-th="Website">{{mov.Source}}</td>
      <td data-th="Score">{{mov.Value}}</td>
    </tr>
  </table>

</div> <!-- end of ngIf div -->

<ngx-smart-modal #myModal identifier="myModal"> <!-- https://www.npmjs.com/package/ngx-smart-modal -->
  <div *ngIf='movie' class="iframe-container">
    <iframe  [class.thumbnail]="thumbnail" [src]="safeSrc" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <button (click)="myModal.close()">Close</button>
</ngx-smart-modal>
